@charset "UTF-8";


/*---- 共通部分 -----------------------*/
html {
    font-size: 100%;
}

body {
    color: #4A2002;
    font-size: 1rem;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
}

.section--tit {
    display: inline-block;
    width: 80%;
    font-size: 20px;
    text-align: center;
    margin-top: 100px;
    margin-bottom: 60px;
}

.container {
    max-width: 100%;
    margin: 0;
    padding: 0 4%;
    text-align: center;
}

.btn {
    max-width: 300px;
    width: 100%;
    margin: 0 auto;
    padding: 10px 0;
    display: block;
    letter-spacing: 1rem;
    font-size: 30px;
    font-weight: bold;
    background-color: #fff;
    color: #90B6A5;
    border: 2px solid #90B6A5;
    margin-top: 20px;
} 

.btn:hover {
    color: #fff;
    border: 2px solid #90B6A5;
    background-color: #90B6A5;
}


/*-- Header area -------------------------------------*/
.page--header {
    background-color: #FFEDAB;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}

.logo {
    width: 70px;
    margin-top: 10px;
}

.wrapper {
    max-width: 100%;
    margin: 0 auto;
    padding: 0 20%;
}

.header--nav--list {
    display: flex;
    padding: 10px 0;
    list-style: none;
}

.header--nav--list li {
    margin-left: 30px;
}

.header--nav--list a {
    color: #4A2002;
}

.header--nav--list a:hover {
    opacity: 0.5;
}




/*-- HOME--FV ------------------------------------------------*/
.home--fv {
    width: 100%;
    height: auto;
}

.pc {display: block !important;}
.sp {display: none !important;}



/*-- HOME--ABOUT ----------------------------------------------*/
.home--about {
    background-color: rgba(255, 237, 171, 20%);
    width: 100%;
    height: 750px;
}

.home--about--box {
    display: flex;
    justify-content: center;
    align-items: center;
}

.home--about--box img {
    width: 400px;
    height: auto;
    margin-right: 50px;
}

.home--about--box--right {
    text-align: center;
}

.home--about--box--right h3 {
    font-size: 40px;
}

.home--about--box--right h1 {
    font-size: 30px;
}

.home--about--box--right p {
    font-size: 20px;
}

/*-- HOME--WORKS ---------------------------------------*/
.home--works {
    width: 100%;
    height: 800px;
}

.home--works--section {
    display: flex;
    justify-content: space-between;
}

.home--works--box {
    width: 25%;
    margin-bottom: 50px;
}

/*-- HOME--CONTACT -------------------------------------*/
.home--contact {
    background-image: url(https://sahya128.github.io/Saaya-portfolio/home-contact.jpg);
    background-position: right;
    background-size: 100%;
    width: 100%;
    height: 600px;
}

.home--contact--section h3 {
   font-size: 30px;
   padding-bottom: 50px;
}

.home--contact--section a {
    font-size: 20px;
    letter-spacing: 0.2rem;
}


/*-- ABOUT ----------------------------------------------*/
.about--tit--img {
    width: 100%;
    height: auto;
}

/*-- ABOUT--PLOFILE -------------------------------------*/
.about--profile {
    background-color: rgba(255, 237, 171, 20%);
    width: 100%;
    height: 600px;
}

.about--profile--box {
    display: flex;
    justify-content: center;
    align-items: center;
}

.about--profile--box img {
    width: 400px;
    height: auto;
    margin-right: 50px;
}

.about--profile--box--right {
    text-align: center;
}

.about--profile--box--right h3 {
    font-size: 40px;
}

.about--profile--box--right p {
    font-size: 20px;
}


/*-- ABOUT--SKILL ---------------------------------------*/
.about--skill {
    height: 600px;
}

.about--skill--section--box {
    display: flex;
    justify-content: center;
    align-items: center;
}


/*-- ABOUT--CAREER ---------------------------------------*/
.about--career {
    background-color: rgba(255, 237, 171, 20%);
    width: 100%;
    height: 600px;
}

.about--career--section {
    display: inline-block;
    padding: 0 25%;
}

.about--career--section--box {
    font-size: 30px;
    display: flex;
}

.about--career--section--box--right {
   padding-left: 70px;
   text-align: left;
}


/*-- WORKS -----------------------------------------------*/
.works--tit--img {
    width: 100%;
    height: auto;
}

.works--box {
    align-items: center;
}

.works--img {
    width: 60%;
    height: auto;
    padding: 0 250px;
}

.works--img:hover {
    opacity: 0.5;
}


/*-- CONTACT ---------------------------------------------*/
.Contact {
    background-image: url(https://sahya128.github.io/Saaya-portfolio/contact-bg-pc2.jpeg);
    background-position: right;
    background-size: 100%;
    background-repeat: no-repeat;
    padding: 50px;
    text-align: left;
}

.contact--tit--img {
    margin-bottom: 200px;
}

.contact--form--item--label {
    width: 100%;
    font-size: 30px;
    font-weight: bold;
    color: #4A2002;
}

.contact--form--item--input {
    width: 50%;
    height: 30px;
    font-size: 20px;
    border: 2px solid #4A2002;
    background-color: rgb(255, 255, 255, 0.2);
    border-radius: 2px;
    padding: 10px;
    margin-bottom: 30px;
}

.contact--form--item--textarea {
    width: 50%;
    height: 150px;
    font-size: 20px;
    border: 2px solid #4A2002;
    background-color: rgb(255, 255, 255, 0.2);
    border-radius: 2px;
    padding: 10px;
    margin-bottom: 30px;
}

.contact--form--btn {
    max-width: 350px;
    width: 100%;
    margin: 0 10px;
    padding: 20px 10px;
    display: block;
    letter-spacing: 1.5rem;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    background: #FFFFFF;
    color: #90B6A5;
    border: 2px solid #90B6A5;
}

.contact--form--btn:hover {
    color: #FFFFFF;
    border: 2px solid #90B6A5;
    background-color: #90B6A5;
}


/*-- FOOTER ----------------------------------------------*/
footer {
    background-color: #FFEDAB;
    width: 100%;
    height: 30px;
    font-size: 0.5rem;
    padding: 10px 0;
    text-align: center;
}



/*--SP
-------------------------------------------------------------------------------*/
@media screen and (max-width: 600px) {

    /*-- header --*/
    .logo {
    width: 30px;
    margin-top: 5px;
    }

    /*-- home--fv --*/
    .home--fv {
        .pc { display: none !important;}
        .sp { display: block !important;}
    }
   
    /*-- home--about --*/
    .home--about--box {
        display: block;
        margin: 0 auto;
    }

    .home--about--box--left {
        margin-top: 0px;
        width: 100%;
    }

    .home--about--box--right {
        width: 100%;
    }

    .home--about--box--right h3 {
        font-size: 20px;
    }
    
    .home--about--box--right h1 {
        font-size: 15px;
    }

    .home--about--box--right p {
        font-size: 10px;
    }

    /*-- home--works --*/
    .home--works--section {
        display: block;
        margin: 0 auto;
        align-items: center;
    }

    .home--works--box {
        width: 70%;
    }

    /*-- home--contact --*/
    .home--contact--section h3 {
        font-size: 20px;
    }

    .home--contact--section a {
        font-size: 10px;
    }

    
    /*-- about--profile --*/
    .about--profile--box {
        display: block;
        margin: 0 auto;
    }

    .about--profile--box--left {
        margin-top: 0px;
        width: 100%;
    }

    .about--profile--box--right {
        width: 100%;
    }

    .about--profile--box--right h3 {
        font-size: 30px;
    }

    .about--profile--box--right p {
        font-size: 15px;
    }

    /*-- about--skill --*/
    .about--skill--section--box {
        display: block;
        margin: 0 auto;
    }

    /*-- about--career --*/
    .about--career--section--box {
        font-size: 10px;
    }
    .about--career--section--box--right {
        padding-left: 15px;
    }

    /*-- works --*/
    .works--box {
        display: block;
        margin: 0 auto;
    }

    .works--tit .section--tit{
        font-size: 30px;
    }

    .works--box img {
        width: 80%;
    }

    /*-- contact --*/
    .Contact {
        background-image: url(https://sahya128.github.io/Saaya-portfolio/contact-bg-sp.jpeg);
        background-position: bottom;
        background-size: 100%;
        background-repeat: no-repeat;
    }

    .contact--form--item--label {
        font-size: 20px;
    }
    .contact--form--item--input {
        height: 20px;
        font-size: 15px;
        padding: 5px;
        margin-bottom: 20px;
    }
    
    .contact--form--item--textarea {
        width: 70%;
        height: 60px;
        font-size: 15px;
        padding: 5px;
        margin-bottom: 20px;
    }

    .contact--form--btn {
        max-width: 250px;
        width: 50%;
        margin: 0 10px;
        margin-top: 25px;
        padding: 10px 5px;
        display: block;
        letter-spacing: 2rem;
        font-size: 15px;
    }
    

    input[type="text"],
    input[type="email"],
    textarea {
        max-width: 100%;
    }

}
